<!DOCTYPE html>
<html lang="en">
    <%- include('./parts/head.ejs') %>
<body>
    <%- include('./parts/header.ejs') %>
    <main>
        <h1 style="text-align: center; margin-top: 100px; ">proximamente</h1>
    </main>
    <%- include('./parts/footer.ejs') %>
</body>
</html>