<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs') %>
<body>
    <%- include('./parts/header.ejs') %>
    <main>
      <section class="first_central_container">
        <span class="central_img" alt="imagen central"></span>
        <article class="first_central_info">
            <h2>Defi On Bitcoin Cash</h2>
            <p>Trade, launch, stake, farm, invest, automate, 
              build on the premier DeFi platform of smartBCH</p>
        </article>
      </section>
      <section class="second_central_container">
          <article class="second_central_tittle_container">
            <span class="proyect_arrow left_container" ></span>
            <h2 class="second_central_tittle">PROJECTS</h2>
            <span class="right_container">
              <span class="proyect_arrow left"></span> <span class="proyect_arrow right"></span>
            </span>
          </article>
          <article class="project_container">
             <h3 class="project_tittle">MistSwap</h3>
             <p class="project_info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
             </p> 
             <br>
             <p class="project_info">
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
             </p>
             <button class="project_button">Read more</button>
          </article>
      </section>
      <section class="top_token_container">
             <p class="top_token_tittle">Top token</p>
             <ul class="top_token_list">
              <li class="top_token_item">
               <span class="top_token_logo"></span>
              </li>
              <li class="top_token_item">
               <span class="top_token_logo"></span>
              </li>
              <li class="top_token_item">
                <span class="top_token_logo"></span>
              </li>
              <li class="top_token_item">
                <span class="top_token_logo"></span>
              </li>
              <li class="top_token_item">
                <span class="top_token_logo"></span>
              </li>
             </ul>
      </section>
      <section class="third_central_container">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> 
      </section>
      <section class="fourth_central_container">
           <article class="card">
              <span class="card_logo card_earn"></span>
              <p class="card_tittle">EARN</p>
              <p class="card_info">Earn more by providing liquidity and staking, more than any other exchange.
              </p>
              <br>
              <br>
              <p class="card_info">
                0.25% for providing liquidity
                0.05% for holders of xMIST
              </p>
           </article>
           <article class="card">
              <span class="card_logo card_stake"></span>
              <p class="card_tittle">STAKE</p>
              <p class="card_info">Stake MIST for xMIST and earn fees using the MistBar</p>
           </article>
           <article class="card">
              <span class="card_logo card_redem"></span>
              <p class="card_tittle">REDEEM</p>
              <p class="card_info">Redeem MIST (one-to-one) 
                and DROP (one-to-five) SLP tokens with MIST tokens using 
                Misty Lake.</p>
           </article>
      </section>
      <section class="fifth_central_container">
        <p>We are building tools 
          that enable people to interact permissionlessly, without borders.
          
          Only with Bitcoin Cash.</p>
      </section>
      <section class="sixth_central_container">
        <article class="sixth_central_tittle_container">
          <span class="proyect_arrow left_container" ></span>
          <h2 class="sixth_central_tittle">UPCOMING</h2>
          <span class="right_container">
            <span class="proyect_arrow left"></span> <span class="proyect_arrow right"></span>
          </span>
        </article>>
        <article class="upcoming_container">
            <h3 class="upcoming_tittle">MistSwap</h3>
            <p class="upcoming_info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p> 
            <br>
            <p class="upcoming_info">
             Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
            </p>
            <button class="upcoming_button">Read more</button>
        </article>
   </section>
   <section class="partner_container">
      <p class="partner_tittle">Top token</p>
      <ul class="partner_list">
        <li class="partner_item">
         <span class="partner_logo"></span>
        </li>
        <li class="partner_item">
          <span class="partner_logo"></span>
        </li>
        <li class="partner_item">
         <span class="partner_logo"></span>
       </li>
       <li class="partner_item">
         <span class="partner_logo"></span>
       </li>
       <li class="partner_item">
         <span class="partner_logo"></span>
       </li>
     </ul>
    </section>
    <section class="seventh_central_container">
       <article class="frecuent_tittle_container">
        <h2>Frequently asked questions</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
       </article>
       <article class="frecuent_info">
         <div class="frecuent_upper">
             <ul class="frecuent_list">
              <li class="frecuent_item">
                <p>Lorem ipsum dolor sit amet?</p> <span class="green_arrow"></span>
              </li>
              <li class="frecuent_item">
                <p>Consectetuer adipiscing elit?</p> <span class="green_arrow"></span>
              </li>
              <li class="frecuent_item">
                <p> Sed diam nonummy nibh euismod tincidunt ut laoreet?</p> <span class="green_arrow"></span>
              </li>
              <li class="frecuent_item">
                <p> Quis nostrud exerci tation ullamcorper suscipit?</p> <span class="green_arrow"></span>  
              </li>
              <li class="frecuent_item">
                <p> Quis nostrud exerci tation ullamcorper?</p> <span class="green_arrow"></span>  
              </li>
              <li class="frecuent_item">
                <p> Duis autem vel eum iriure dolor in hendrerit?</p> <span class="green_arrow"></span>  
              </li>
             </ul>
         </div>
         <div class="frecuent_lower"> <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> 
         
         <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        
         <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto erat.</p> 
        </div>
       </article>
    </section>
    </main>
    <%- include('./parts/footer.ejs') %>
</body>
</html>