<footer>
    <section class="ancor_menu_container">
      <ul class="ancor_menu_1">
        <li><a href="" class="ancor_logo telegram"></a></li>
        <li><a href="" class="ancor_logo twitter"></a></li>
        <li><a href="" class="ancor_logo discord"></a></li>
        <li><a href="" class="ancor_logo nose"></a></li>
      </ul>
      <article class="ancor_menu_2">
        <a class="code" href="">Source Code</a>
        <a class="doc" href="">Docs</a>
      </article>
    </section>
    <section class="footer_menu_container">
      <ul class="footer_menu">
        <li><a href="">Analytics</a></li>
        <li><a href="">Ya Fue</a></li>
        <li><a href="./about">Enter App</a></li>
        <li><a href="">Language</a></li>
      </ul>
    </section>
    <section class="copy_right_container">
       <p class="copy_right">Copyright 2021 - All Right Reserved</p>
    </section>
  </footer>