<header>
    <section class="upper_header">
      <a class="header_anchor" href="./">
        <figure class="header_tittle_container">
           <span alt="logo pagina"> </span>
           <h1 class="page_tittle">Pablo Paz</h1>
        </figure>
      </a> 
     <article class="nav_bar_container">
        <ul class="nav_bar">
         <li>Analitics</li>
         <li>Ya Fue</li>
         <li>Documents</li>
        </ul>
      </article>
      <article class="lenguage_menu">
       <span class="leng_logo"></span>
       <span class="down_arrow"></span>
       <ul class="lenguage">
         <li class="lenguage_item"><span class="flag flag_1"></span></li>
         <li class="lenguage_item"><span class="flag flag_2"></span></li>
         <li class="lenguage_item"><span class="flag flag_3"></span></li>
       </ul>
      </article>
    </section>
    <section class="header_statistic">
      <article class="statisic_container">
         <ul class="statistic">
             <li class="statistic_cell">
                 <span>Price</span>
                 <p>$00.0</p>
             </li>
             <li class="statistic_cell">
                 <span>Total value locked</span>
                 <p>$00.0</p>
             </li>
             <li class="statistic_cell">
                 <span>Volume</span>
                 <p>$00.0</p>
             </li>
             <li class="statistic_cell">
                 <span>Pairs</span>
                 <p>$00.0</p>
             </li>
         </ul>
         <button class="app_button">Enter the app</button> 
      </article>
    </section>
 </header>